/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Navigation Styles */
ul.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}
nav#navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* Landing Styles */
#landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section Styles */
section {
  min-height: 100vh;
  background-color: cornflowerblue;
}
section:nth-of-type(even) {
  background-color: cadetblue;
}
